<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Vending
    link(rel="stylesheet", href="css/style.css")
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-41231050-3')
    script.
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date())
      gtag('config', 'UA-41231050-3')
  body
    block page
      -var index = 'HOME'
    block body
    block script
      if index === 'HOME'
        script(src='js/auth.js')
      else if index === 'otp'
        script(src='js/otp.js')
