extends _template
block body
block page
  - var index = 'HOME'
  section.product
    .product__bg
    .product__item
      img#image(src="images/placeholder.png", alt="product" width='200')
  section.details
    .details__name#saleDesc 
    .details__desc#saleCode        
    .details__price
      .details__price--value#price     
      .details__price--cur#currency  
    .purchase-btn#purchase-btn(onclick="returnPayment()")
      .purchase-btn--text ซื้อ 
  .loading#load
    img(src="images/Spinner-1s-200px.gif", alt="")
