extends _template
block body
block page
  - var index = 'HOME'
  section.product
    .product__bg
    .product__item
      img#image(src="images/placeholder.png", alt="")
  section.details
    .details__name#saleDesc
    .details__desc#saleCode
    .details__price
      .details__price--value#price
      .details__price--cur#currency
    button.purchase-btn#purchase-btn(onclick="returnPayment()")
      .purchase-btn--text ซื้อ
  .loading#load
    img(src="images/Vending-Pending.gif", alt="")
    h4.loading__title เรากำลังเตรียมสินค้าให้คุณ
    p.loading__desc คุณจะได้รับสินค้าภายใน 1 นาที หากเกินเวลาที่กำหนด กรุณาติดต่อ<br/>ศูนย์บริการลูกค้า ทรูมันนี่ 1240
