extends _template
block page
  -var index = 'success'
block body
  img.success__img(src="images/Group.png", alt="")  
  section.success      
    .success__name ซื้อสินค้าเรียบร้อย
    .success__desc กรุณารับสินค้าที่ตู้จำหน่าย      
  script.
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };    